<%= render 'shared/setup', book: @book, user: current_user %>

<div class="col-md-8 offset-md-1">
 <h2>Users</h2>
 <table class="table">
  <thead>
   <tr>
    <th>image</th>
    <th>name</th>
    <th colspan="3"></th>
   </tr>
  </thead>
  <% @users.each do |user| %>
   <tr>
    <!--↓もし、ユーザーの画像が添付された画像だったらYes or No -->
    <% if user.profile_image.attached? %>
    <td><%= image_tag user.profile_image, size: "80x80" %></td>
    <% else %>
    <td><%= image_tag "no_image.jpg", size: "80x80" %></td>
    <% end %>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user_path(user) %></td>
   </tr>
  <% end %>
 </table>
