
<%= render 'shared/setup', book: @book, user: @user %>

 <div class="col-md-8 offset-md-1">
 <h2>Books</h2>
  <table class="table table-hover table-inverse">
   <thead>
    <tr>
     <th></th>
     <th>Title</th>
     <th>Opinion</th>
     <th colspan="3"></th>
    </tr>
   </thead>
   <% @books.each do |book| %>
   <tbody>
    <tr>
     <% if @user.profile_image.attached? %>
      <td><%= link_to image_tag @user.profile_image, size: "80x80" %></td>
     <% else %>
      <td><%= link_to image_tag "no_image.jpg", size: "80x80" %></td>
     <% end %>
     <th><%= link_to book.title, book_path(book.id) %></th>
     <th><%= book.body %></th>
    </tr>
   </tbody>
   <% end %>
  </table>
 </div>
