<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <h1>Editing Book</h1>
   <%= form_with model: @book do |f| %>
   <div class="form-group">
   <label>Title</label><br>
   <%= f.text_field :title %>
   </div>
   <div class="form-group">
   <label>Opinion</label><br>
   <%= f.text_area :body %>
   </div>
   <div class="form-group">
    <button type="button" class="btn btn-success" href="#" class="link-success">
     <%= f.submit "Create book" %>
    </butoon>
   </div>
   <div class="row">
    <%= link_to "Show", books_path %>
    <p>|</p>
    <%= link_to 'Back', "/books" %>
   </div>
   <% end %>
  </div>
 </div>
</div>
   
  		
