 <%= render 'setup', books: @books %>
  <div class= "col-md-8 offset-md-1">
   <h2>Books</h2> 
   <table class= "table table-hover table-inverse">
    
    <thead>
     <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"><th>
     </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
     <tr> 
      <td><%= image_tag book.get_image %><br><%= book.user.name %></td>
      <td><%= link_to book.title, "/books/#{book.id}" %></td>
      <td><%= book.body %></td>
     </tr> 
    </tbody>
    <% end %>
   </table>
  </div> 
  
 </div>
</div>
