<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <script src="https://kit.fontawesome.com/7009cb25f2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class= "navbar navbar-expand-lg navar-dark bg-dark">
     <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     <div class= "collapse navbar-collapse" id= "navbarNavDropdown">
      <ul class= "navbar-nav ml-auto">
       <% if user_signed_in? %>
        <li class="nav-link text-light">
        <i class="fa-solid fa-house"></i>
         <%= link_to "Home", user_path(current_user.id) %>
        </li>
        <li class="nav-link text-light">
         <i class="fa-solid fa-users"></i>
         <%= link_to "Users", "/users" %>
        </li>
        <li class="nav-link text-light">
         <i class="fa-solid fa-book-open"></i>
         <%= link_to "Books", "/books" %>
        </li>
        <li class="nav-link text-light">
         <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
         <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </liv>
       <% else %>
        <li class="nav-link text-light">
        <i class="fa-solid fa-house"></i>
         <%= link_to "Home", "/" %>
        </li>
        <li class="nav-link text-light">
         <i class="fa-solid fa-link"></i>
         <%= link_to "About", "/top/about" %>
        </li>
        <li class="nav-link text-light">
         <i class="fa-solid fa-user-plus"></i>
         <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li class="nav-link text-light">
         <i class="fa-solid fa-right-to-bracket"></i>
         <%= link_to "Log in", new_user_session_path %>
        </li>
       <% end %>
      </ul>
     </div>
    </div>
    </nav>
   </header>
   <main>
   <p class="notice"><%= notice %></p>

   <%= yield %>
   </main>
   <footer>
    <div class= "container mt-5">
     <div class= "row">
      <div class= "mx-auto">
       <p>CopyRight Infratop.inc</p>
      </div>
     </div>
    </div>
   </footer>


  </body>
</html>
